
:root {
    --primary-color: #800000;
    --price-list-color: #a85464;
    --hover-color: #780000;
    --text-color: white;
    --background-color: #696969;
    --foreground-color: #696969;
    --shadow-color: rgba(0, 0, 0, 0.1);
}